.RightSide{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    transition: ease all .5s;
}

.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}
.navIcons>a>img{
    width: 1.5rem;
    height: 1.5rem;
}
.navIcons>a{
    color: rgb(34, 34, 34);
}
.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}

@media only screen and (max-width: 992px) {
    .RightSide{
        display: none;
    }
}