.AdminLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.infoForm{
    min-width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}
.a-left{
    gap: 3rem;
}
.a-left>h4{
    font-size: 2rem;

    background-image: var(--buttonBg);

    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}

.authForm>h4{
    font-size: 2rem;

    background-image: var(--buttonBg);

    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}
.authForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1.5rem;
}